# node modules
node_modules
server/node_modules
**/node_modules

# git
**/.git

# enviroment
.env*

# ws configuration
.github
.vscode
.idea

# Folder
cypress
hooks
cypress
sql
analysis
build
server/build
server/test
coverage*

# Config file
.editorconfig
.eslintignore
.eslintrc.js
.nycrc
.prettier.js
cypress.json
LICENSE
README.md
sonar-project.properties
swagger-config.yaml
temp.txt

*.gz
*.log