# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# FIXME:
/docs
/node_modules
/server/node_modules
/.pnp
.pnp.js

.idea/sonarlint

# testing
**/coverage
**/analysis
/.idea/sonarlint
/.nyc_output
/cypress-coverage
# production
/build
/server/build_server
/production_build
/secrets

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Enable/Disable hooks
.hooks

npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev.log*
*.log*
.env*
/server/dist
/.metadata


.firebase