.player-table {
    width: 100%;
}

.player-table-header {
    background-color: #343a40;
    color: #ffc107;
}


.functionsList {
    display: flex;
    flex-direction: row;
    background-color: inherit
}