.stage2-table {
  border: #ffc107 2px solid;
  text-align: center;
  margin: 0 auto;
  background-color: inherit;
  width: 100%;
 }
 .stage2-td {
  vertical-align: top;
  padding: 0;
  box-sizing: border-box;
 }

 .stage2-body {
  background-color: inherit;
  padding-top: 40px;
}

 .node-box {
   border: #ffc107 1px solid;
   width: auto;
   height: 10vh;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
 }

 .lines td, .lines .down-line {
   height: 20px;
 }
 .top-line {
   border-top: 2px solid #a7e1e9;
 }
 .down-line {
   margin: 0 auto;
   width: 0px;
 }
 .left-line, .down-line {
   border-left: 1px solid #a7e1e9;
 }
 .right-line, .down-line {
   border-right: 1px solid #a7e1e9;
 }