.navbar-container {
  display: flex;
  width: 100%;
}
.navbar-list {
  width: 100%;
  display: flex;
  align-items: stretch; /* Default */
  justify-content: flex-end;
  margin: 0;
}

.navbar-list-item {
  display: block;
  flex: 0 1 auto; /* Default */
  list-style-type: none;
  /**/
  padding: .25rem .75rem;
  margin: 5px;
  /* border */
  border: solid #fafafa;
  border-radius: 50px;
  /* color */
  color: #fafafa;
  background-color: none;
}
.navbar-logo {
}
