
/* Palette */
:root {
  --default-yellow: #ffc107;
  --default-red: #dc3545;
  --default-black: #343A40;
  --default-white: whitesmoke;
  --default-green: #64bd9c;
}

.react-bootstrap-table{
  width: 100%;
}

.default-color-green {
  color: var(--default-green) !important;
}

.default-color-white {
  color: var(--default-white) !important;
}

.default-color-red {
  color: var(--default-red) !important;
}

.default-color-yellow {
  color: var(--default-yellow) !important;
}
.default-hover-green:hover {
  background-color:var(--default-green) !important;
  color:white !important
}

.default-background {
  background-color: var(--default-black);
}
.default-border-yellow {
  border : 1px solid var(--default-yellow);
}
/* Palette-End */


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

tbody {
  background-color: whitesmoke
}

.inherit-background.list-group-item {
  background-color: inherit
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Form */
input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

/* Label */
label,
legend {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
label > .label-body {
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: normal;
}

/* Spacing */
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem;
}